<div class="w-full flex flex-row justify-center items-center">
  <main class=" flex flex-col items-center justify-center w-[1536px]">
    <div class="flex flex-row w-11/12   justify-between items-center">
      <img src="logo.png"  width="100" alt="">
      <button  hlmBtn variant="outline" class="">
        Contact
      </button>
    </div>
    <div class="h-10"></div>

    <section class="w-11/12 flex flex-row justify-center items-center self-center h-[35rem]">
      <div class="flex flex-col w-1/2">
        <div class="font-bold text-5xl w-9/12">
          Design and build
          the product you
          always wanted
        </div>
        <div class="h-5"></div>

        <div class="w-7/12 text-xl">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies molestie imperdiet. Cras rutrum vestibulum dolor,
          eu feugiat elit finibus a. Pellentesque vitae lacinia massa.
        </div>

        <div class="h-5"></div>

        <div class="flex flex-row ">
          <button hlmBtn>Get the app</button>
          <div class="w-2"></div>
          <button hlmBtn variant="secondary">Contact us</button>
        </div>


      </div>
      <img src="assets/images/screen1.png" class="w-2/12 h-[30rem]"   alt="">
    </section>

    <section class="w-11/12 flex flex-row justify-center items-center self-center h-[35rem]">
      <div class="flex flex-row   items-center relative w-5/12">

        <div class="w-[10rem] h-[20rem] rounded-l-full bg-green-600 absolute z-0"></div>
        <img src="assets/images/screen2.png" class="w-5/12 h-[30rem] absolute z-10 left-12"   alt="">
        <div class="w-[10rem] h-[20rem] rounded-r-full bg-blue-950 absolute right-[15rem] z-0"></div>


      </div>
      <div class="flex flex-col w-1/2">
        <div class="font-bold text-4xl w-9/12">
          Publish & share
          your products
        </div>
        <div class="h-5"></div>

        <div class="w-7/12 text-xl">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, officia.
        </div>
<div class="h-52">
  <div hlmAccordion type="multiple" class="pb-4">
    <div hlmAccordionItem isOpened>
      <button hlmAccordionTrigger>
        Is it accessible?
        <hlm-icon hlmAccIcon />
      </button>
      <brn-accordion-content hlm>Yes. It adheres to the WAI-ARIA design pattern.</brn-accordion-content>
    </div>

    <div hlmAccordionItem>
      <button hlmAccordionTrigger>
        Is it styled?
        <hlm-icon hlmAccIcon />
      </button>
      <brn-accordion-content hlm>
        Yes. It comes with default styles that match the other components' aesthetics.
      </brn-accordion-content>
    </div>

    <div hlmAccordionItem [isOpened]="_thirdOpened()">
      <button hlmAccordionTrigger>
        Is it animated?
        <hlm-icon hlmAccIcon />
      </button>
      <brn-accordion-content hlm>
        Yes. It's animated by default, but you can disable it if you prefer.
      </brn-accordion-content>
    </div>
  </div>
  <button hlmBtn (click)="toggleThird()">Toggle Third Item</button>
</div>




      </div>

    </section>

    <section class="w-11/12 flex flex-row-reverse justify-between items-center  h-[35rem]">
        <div class="flex flex-row justify-end items-center relative w-5/12">
          <div class="w-[10rem] h-[20rem] rounded-l-full bg-blue-950 absolute right-[15rem] z-0"></div>

          <img src="assets/images/screen3.png" class="w-5/12 h-[30rem] absolute z-10 right-20"   alt="">
          <div class="w-[10rem] h-[20rem] rounded-r-full bg-green-600 absolute z-0"></div>

        </div>
        <div class="flex flex-col  w-1/2">
          <div class="font-bold text-4xl w-9/12">
            Design & build anytime,
            anywhere
          </div>
          <div class="h-5"></div>

          <div class="w-7/12 text-xl">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, officia.
          </div>
          <div class="h-52">
            <div hlmAccordion type="multiple" class="pb-4">
              <div hlmAccordionItem isOpened>
                <button hlmAccordionTrigger>
                  Is it accessible?
                  <hlm-icon hlmAccIcon />
                </button>
                <brn-accordion-content hlm>Yes. It adheres to the WAI-ARIA design pattern.</brn-accordion-content>
              </div>

              <div hlmAccordionItem>
                <button hlmAccordionTrigger>
                  Is it styled?
                  <hlm-icon hlmAccIcon />
                </button>
                <brn-accordion-content hlm>
                  Yes. It comes with default styles that match the other components' aesthetics.
                </brn-accordion-content>
              </div>

              <div hlmAccordionItem [isOpened]="_thirdOpened()">
                <button hlmAccordionTrigger>
                  Is it animated?
                  <hlm-icon hlmAccIcon />
                </button>
                <brn-accordion-content hlm>
                  Yes. It's animated by default, but you can disable it if you prefer.
                </brn-accordion-content>
              </div>
            </div>
            <button hlmBtn (click)="toggleThird()">Toggle Third Item</button>
          </div>




        </div>


    </section>

    <section class="w-11/12 flex flex-col justify-center items-center h-[35rem]">
      <div class="font-bold text-green-600 text-3xl">
        Get started
      </div>
      <div class="h-10"></div>
      <div class="text-5xl text-center w-6/12 font-bold">
        Build a powerful product
        in seconds
      </div>
      <div class="h-10"></div>
      <div class="text-gray-700 w-4/12 text-center">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur delectus, illum itaque officia quos. Deserunt dolore fuga in neque.
      </div>

      <div class="flex flex-row items-center relative w-5/12 bg-red-500 mt-10">
        <div class="w-[10rem] h-[20rem] rounded-l-full bg-green-600 inset-0 absolute z-0 top-16 left-28"></div>
        <img src="assets/images/screen4.png" class="w-5/12 h-[30rem] absolute z-10 inset-0 left-44"   alt="">
        <div class="w-[10rem] h-[20rem] rounded-r-full bg-blue-950 absolute inset-0 right-[15rem] z-0 top-16 left-80"></div>
      </div>


    </section>

  </main>

</div>
